rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users-test/{uid} {
	  allow read, create, update: if true

	  match /questionResponses/{document} {
        allow read, create: if true
      }
    }

    match /userPreauthorizations-test/{email} {
	  allow read, create: if true;
    }
  }
}
